doctype html
html
    include includes/head.pug
    //ELEMNT MIXIN
    mixin tableElement(el)
        - var rounded = Math.round((el.atomic_mass+Number.EPSILON) * 1000) / 1000
        - var tipo = el.category.split(" ")[0];
        td.tableElement(class=`${tipo == "unknown," ? "unknown" : tipo}`)&attributes(attributes)
            p.number=el.number
            h2.symbol=el.symbol
            h3.name=el.name
            p.mass=rounded 
    mixin placeholder(range, tipo)
        td.placeholder(class=tipo)
            p.number=range
    body
        include includes/header
        main.tablaPeriodica
            table.principal
                - var s = 6, d=10, f = 0, raras = ["lanthanide","actinide"];
                for num in [1,2,3,4,5,6,7]
                    tr(class = `periodo-${num}`)
                        for element in tabla
                            - var cat = element.category.split(" ")[0];
                            if element.period== num
                                if cat == raras[0] || cat == raras[1]
                                    +tableElement(element)(hidden)
                                else 
                                    +tableElement(element)
                                case element.number
                                    when 1
                                        td(class="spaceS" colspan=s+f+d)
                                    when 4
                                    when 12
                                        td(class="spaceD" colspan=d+f)
                                    when 20
                                    when 38
                                        td(class="spaceF" colspan=f hidden)
                                    when 57
                                        +placeholder("57..71", raras[0])
                                    when 89
                                        +placeholder("89..103", raras[1])
            #spaceIntraTabla
            table.secundaria
                for num in [6,7]
                    tr(class = `periodo-${num}`)
                        for element in tabla
                            - var cat = element.category.split(" ")[0];
                            if element.period== num
                                if cat == raras[0] || cat == raras[1]
                                    +tableElement(element)